# =====================
# Backend
# =====================
Backend/.env
Backend/venv/
Backend/__pycache__/
Backend/*.pyc

# =====================
# Frontend
# =====================
Frontend/node_modules/
Frontend/.vite/
Frontend/.tanstack/
Frontend/dist/

# =====================
# General
# =====================
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Environment files
.env
.env.*